node_modules
.angular/cache/21.2.0/first-app/.tsbuildinfo
.angular/cache/21.2.0/first-app/vite/deps/_metadata.json
.angular/cache/21.2.0/first-app/vite/deps/@angular_common_http.js
.angular/cache/21.2.0/first-app/vite/deps/@angular_common_http.js.map
.angular/cache/21.2.0/first-app/vite/deps/@angular_core.js
.angular/cache/21.2.0/first-app/vite/deps/@angular_forms.js
.angular/cache/21.2.0/first-app/vite/deps/@angular_forms.js.map
.angular/cache/21.2.0/first-app/vite/deps/@angular_platform-browser.js
.angular/cache/21.2.0/first-app/vite/deps/@angular_platform-browser.js.map
.angular/cache/21.2.0/first-app/vite/deps/@angular_router.js
.angular/cache/21.2.0/first-app/vite/deps/@angular_router.js.map
.angular/cache/21.2.0/first-app/vite/deps/chunk-6ACQOQCY.js
.angular/cache/21.2.0/first-app/vite/deps/chunk-6ACQOQCY.js.map
.angular/cache/21.2.0/first-app/vite/deps/chunk-BI6LFKKS.js
.angular/cache/21.2.0/first-app/vite/deps/chunk-BI6LFKKS.js.map
.angular/cache/21.2.0/first-app/vite/deps/chunk-BKXGQSDC.js
.angular/cache/21.2.0/first-app/vite/deps/chunk-BKXGQSDC.js.map
.angular/cache/21.2.0/first-app/vite/deps/chunk-FK54RBYX.js
.angular/cache/21.2.0/first-app/vite/deps/chunk-FK54RBYX.js.map
.angular/cache/21.2.0/first-app/vite/deps/chunk-IEV2JBOS.js
.angular/cache/21.2.0/first-app/vite/deps/chunk-IEV2JBOS.js.map
.angular/cache/21.2.0/first-app/vite/deps/chunk-P3WBXARY.js
.angular/cache/21.2.0/first-app/vite/deps/chunk-P3WBXARY.js.map
.angular/cache/21.2.0/first-app/vite/deps/zone__js.js.map
